---
layout: default
---

<div class="mdl-grid">
{% assign mainposts = (site.posts | where: "layout" , "post") %}
  {% for post in mainposts %}
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone post-block">
      <a href="{{ post.url | prepend: site.baseurl }}">
      
        <div class="post-card mdl-shadow--2dp" style="background-image:url({{site.url}}{{post.image|make_thumbnail:300,300}});background-size: cover;">
          <div class="post-card__fade"></div>
          <div class="mdl-card__title" style="height:100%;width:100%;padding:0;" >
            <h2 \br\br /h2>
            <h2 class="mdl-card__title-text" style="background-color:rgba(255,255,255,.5);padding:0px 0 1rem 0px">{{ post.title }}</h2>
          </div>

        </div>
      </a>
  </div>
  {% endfor %}
</div>

<script language="javascript">
// this just unbreaks old wordpress site links
function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

var pagedest = getParameterByName("p");
if (pagedest)
{
    pageIDLookup=
    {
    {% for post in mainposts %}{% if post.postid %}{{post.postid}}:"{{post.url}}",{% endif %}{% endfor %}
    0 : "/"
    };
    if (pagedest in pageIDLookup)
    {
        window.location = pageIDLookup[pagedest];
    }
}
</script>