---
layout: default
---
{% assign categories_flat = page.categories | join: ',' %}


<div class="post mdl-shadow--2dp" >
  <header class="post-header">
    <h3 class="post-title">{{ page.title }}</h3>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

{% assign citation = page.citation %}
{% assign cit_length = citation | size %}
{% if cit_length > 5 %}
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone info-block">
    {% assign csplit = citation | replace: "**" |split:'*' %}
    {% assign italic = 0 %}
    {% for part in csplit %}
        {% if italic == 1 %}
            <i>
            {{part}}
            </i>
            {% assign italic = 0 %}
        {% else %}
            {% assign italic = 1 %}
            {{part}}
        {% endif %}
    {% endfor %}
    
{% assign pdflen = page.pdflink | size %}
{% if pdflen > 0 %}
    {% if page.pdflink contains "://" %}
    <a href='{{page.pdflink}}'>PDF</a>
    {% else %}
    <a href='{{site.baseurl}}{{page.pdflink}}'>PDF</a>
    {% endif %}
{% endif %}
    
    </div>
{% endif %}

  <article class="post-content">
    {{ content | figuremaker }}
    
      {% if categories_flat contains "Projects" %}{% else %}<p><br/>Related themes: 
      {% for c in page.categories %}
      {% assign categorypost = site.tags[c] | first %}
      <a href="{{site.baseurl}}{{ categorypost.url }}">{{ categorypost.title }}</a>,
      {% endfor %}{% endif %}

    
  </article>
  {% if categories_flat contains "Projects" %}
                      {% comment %}
                        This is a project summary page, put the things from the project below it
                      {% endcomment %}
  {% for c in page.categories %}
      {% if c != "Projects" %}
        {% assign this_cat = c %}
      {% endif %}
    {% endfor %}


      <p><h1 class="post-title">Also in {{this_cat}} project</h1></p>
  <div class="mdl-grid">
    {% assign mainposts = site.categories[this_cat]| where: "layout" , "post" %}
    {% for post in mainposts %}
        {% if post.url != page.url %}
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone post-block">
              <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="post-card mdl-shadow--2dp" style="background-image:url({{site.baseurl}}{{post.image|make_thumbnail}});background-size: cover;">
                  <div class="post-card__fade"></div>
                  <div class="mdl-card__title">
                    <h2 \br\br /h2>
                    <h2 class="mdl-card__title-text">{{ post.title }}</h2>
                  </div>
                </div>
              </a>
          </div>
        {%endif %}
    {% endfor %}
    </div>
  {% endif %}
  
  
</div>
